<!DOCTYPE html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Image Handler</title>
      {% else %}
      <title>Welcome to Image Handler</title>
      {% endif %}
    </head>
    <body>
        <div>
            Image Handler:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color: #9C1A1C">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>